{% extends "layout.html" %}

{% block body %}
<p>Vastaa kaikkiin alla oleviin kysymyksiin.</p>
{% for kysymys in kysymykset %}
<table>
    <tr>
        <td>{{ kysymys.kysymys }}</td>
    </tr>
    <form method="POST" action="{{ url_for('questionnaire_save') }}">    
    <tr>
        <td>
            {{ form.vastaus}}
        </td>
        <input type="hidden" name="kysymys_id" value="{{kysymys.id}}"/>
        <td>
            <ul>
                {% for error in form.vastaus.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    
    <tr>
        <td>
            <input type="submit" value="Tallenna vastaus"/>
        </td>
    </tr>
    </form>
</table>
{% endfor %}
{% endblock %}