{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>kysymys</th>
      <th>kysymystyyppi</th>
    </tr>
    {% for question in questions %}
    <tr>
      <td>{{ question.kysymys }}</td>
      <td>{{ question.kysymystyyppi }}</td>
      <td>
          <form method="POST" action="{{ url_for('questions_update') }}">
              <input type="submit" value="muokkaa"/>
              <input type="hidden" name="question_id" value="{{question.id}}"/>
          </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('questions_delete') }}">
              <input type="submit" value="poista"/>
              <input type="hidden" name="question_id" value="{{question.id}}"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}