{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>kysymys</th>
    </tr>
    {% for question in questions %}
    <tr>
      <td>{{ question.kysymys }}</td>
      <td>
          <form method="POST" action="{{ url_for('questions_update', question_id=question.id) }}">
              <input type="submit" value="muokkaa"/>
              
          </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('questions_delete', question_id=question.id) }}">
              <input type="submit" value="poista"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}