{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('question_save') }}">
    <input type="text" name="nimi" value="{{q.kysymys}}"/>
    <select name="kysymystyyppi">
        <option value="kurssikohtainen">kurssikohtainen</option>
        <option value="laitoskohtainen">laitoskohtainen</option>
        <option value="tiedekuntakohtainen">tiedekuntakohtainen</option>
    </select>
    <input type="submit" value="tallenna"/>
    <input type="hidden" name="question_id" value="{{q.id}}"/>
</form>
{% endblock %}