{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>nimi</th>
      <th>laitos</th>
      <th>tiedekunta</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.nimi }}</td>
      <td>{{ course.laitos }}</td>
      <td>{{ course.tiedekunta }}</td>
      <td>
          <form method="POST" action="{{ url_for('courses_update', course_id=course.id) }}">
              <input type="submit" value="muokkaa kurssia"/>
              
          </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('courses_delete', course_id=course.id) }}">
              <input type="submit" value="poista kurssi"/>
          </form>
      </td>                  
      <td> 
          <form method="POST" action="{{ url_for('add_users', course_id=course.id) }}">
              <input type="submit" value="lisää käyttäjä"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}